@import '../../scss/common/colors';

.primary {
  .box1 {
    background-color: $color-primary;
  }
  .box2 {
    background-color: $color-primary-base1;
  }
  .box3 {
    background-color: $color-primary-base2;
  }
  .box4 {
    background-color: $color-primary-base3;
  }
  .box5 {
    background-color: $color-primary-base4;
  }
  .box6 {
    background-color: $color-primary-base5;
  }
  .box7 {
    background-color: $color-primary-base6;
  }
  .box8 {
    background-color: $color-primary-base7;
  }
  .box9 {
    background-color: $color-primary-base8;
  }
}

.secondary {
  .box1 {
    background-color: $color-secondary;
  }
  .box2 {
    background-color: $color-secondary-base1;
  }
  .box3 {
    background-color: $color-secondary-base2;
  }
  .box4 {
    background-color: $color-secondary-base3;
  }
  .box5 {
    background-color: $color-secondary-base4;
  }
  .box6 {
    background-color: $color-secondary-base5;
  }
  .box7 {
    background-color: $color-secondary-base3;
  }
  .box8 {
    background-color: $color-secondary-base4;
  }
  .box9 {
    background-color: $color-secondary-base5;
  }
}

.gray {
  .box1 {
    background-color: $color-gray;
  }
  .box2 {
    background-color: $color-gray-base1;
  }
  .box3 {
    background-color: $color-gray-base2;
  }
  .box4 {
    background-color: $color-gray-base3;
  }
  .box5 {
    background-color: $color-gray-base4;
  }
  .box6 {
    background-color: $color-gray-base5;
  }
  .box7 {
    background-color: $color-gray-base6;
  }
  .box8 {
    background-color: $color-gray-base7;
  }
  .box9 {
    background-color: $color-gray-base8;
  }
}
