@import '../../scss/common/colors';

.primary {
  .box1 {
    background-color: $color-primary;
  }
  .box2 {
    background-color: $color-primary-base1;
  }
  .box3 {
    background-color: $color-primary-base2;
  }
  .box4 {
    background-color: $color-primary-base3;
  }
  .box5 {
    background-color: $color-primary-base4;
  }
  .box6 {
    background-color: $color-primary-base5;
  }
  .box7 {
    background-color: $color-primary-base6;
  }
  .box8 {
    background-color: $color-primary-base7;
  }
  .box9 {
    background-color: $color-primary-base8;
  }
}

.secondary {
  .box1 {
    background-color: $color-secondary;
  }
  .box2 {
    background-color: $color-secondary-base1;
  }
  .box3 {
    background-color: $color-secondary-base2;
  }
  .box4 {
    background-color: $color-secondary-base3;
  }
  .box5 {
    background-color: $color-secondary-base4;
  }
  .box6 {
    background-color: $color-secondary-base5;
  }
  .box7 {
    background-color: $color-secondary-base6;
  }
  .box8 {
    background-color: $color-secondary-base7;
  }
  .box9 {
    background-color: $color-secondary-base8;
  }
}
.tertiary {
  .box1 {
    background-color: $color-tertiary;
  }
  .box2 {
    background-color: $color-tertiary-base1;
  }
  .box3 {
    background-color: $color-tertiary-base2;
  }
  .box4 {
    background-color: $color-tertiary-base3;
  }
  .box5 {
    background-color: $color-tertiary-base4;
  }
  .box6 {
    background-color: $color-tertiary-base5;
  }
  .box7 {
    background-color: $color-tertiary-base6;
  }
  .box8 {
    background-color: $color-tertiary-base7;
  }
  .box9 {
    background-color: $color-tertiary-base8;
  }
}

.gray {
  .box1 {
    background-color: $color-gray;
  }
  .box2 {
    background-color: $color-gray-base1;
  }
  .box3 {
    background-color: $color-gray-base2;
  }
  .box4 {
    background-color: $color-gray-base3;
  }
  .box5 {
    background-color: $color-gray-base4;
  }
  .box6 {
    background-color: $color-gray-base5;
  }
  .box7 {
    background-color: $color-gray-base6;
  }
  .box8 {
    background-color: $color-gray-base7;
  }
  .box9 {
    background-color: $color-gray-base8;
  }
}
.danger {
  .box1 {
    background-color: $color-danger;
  }
  .box2 {
    background-color: $color-danger-base1;
  }
  .box3 {
    background-color: $color-danger-base2;
  }
  .box4 {
    background-color: $color-danger-base3;
  }
  .box5 {
    background-color: $color-danger-base4;
  }
}
.warning {
  .box1 {
    background-color: $color-warning;
  }
  .box2 {
    background-color: $color-warning-base1;
  }
  .box3 {
    background-color: $color-warning-base2;
  }
  .box4 {
    background-color: $color-warning-base3;
  }
  .box5 {
    background-color: $color-warning-base4;
  }
}
.info {
  .box1 {
    background-color: $color-info;
  }
  .box2 {
    background-color: $color-info-base1;
  }
  .box3 {
    background-color: $color-info-base2;
  }
  .box4 {
    background-color: $color-info-base3;
  }
  .box5 {
    background-color: $color-info-base4;
  }
}
.success {
  .box1 {
    background-color: $color-success;
  }
  .box2 {
    background-color: $color-success-base1;
  }
  .box3 {
    background-color: $color-success-base2;
  }
  .box4 {
    background-color: $color-success-base3;
  }
  .box5 {
    background-color: $color-success-base4;
  }
}
