.grid {
  display: grid;
  gap: 4px;

  &.grid-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  &.grid-col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.color-box-container {
  gap: 20px;
}

.box {
  height: 78px;
}
