* {
  box-sizing: border-box;
  font-family: $font-primary;
}

html,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-size: rem(24px);
  min-height: 100%;
}

h1 {
  font-size: rem(32px);
}

.main-container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
