* {
  box-sizing: border-box;
  font-family: $font-primary;
}

:root {
  --focus: 1px dotted #000000;
}

ul {
  list-style: none;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-size: 16px;
  color: $color-primary;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}
.main-container {
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-rows: max-content 1fr;
}

h1,
h2 {
  margin: 0;
  font-weight: 100;
}
h1 {
  font-family: $font-secondary;
  font-size: 48px;
}
h2 {
  font-family: $font-primary-bold;
}

a {
  text-decoration: none;

  &:focus {
    outline: var(--focus);
    border: none;
  }
}
