$color-primary: #182628;
$color-secondary: #d96500;
$color-gray: #2c2b2e;

// #D96500 - orange
// 182628 green
// #59253a - Purple

// #0677a1 primary
// #2d4159

// #1f2605 primary
// #182628
// #17252a primary
// #376e6f

// #1f2833 primary

// #25274d
// #e98074 primary
