$color-primary: #182628;
$color-secondary: #d96500;
$color-gray: #2c2b2e;

// #D96500 - orange
// 182628 - green
// #59253a - Purple

// #0677a1 - light blue
// #2d4159 - dark blue

// #1f2605 - dust green

// #17252a - blue
// #376e6f - green
